<%= form_with(model: giveaway, local: true) do |form| %>
  <% if giveaway.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(giveaway.errors.count, "error") %> prohibited this giveaway from being saved:</h2>

      <ul>
      <% giveaway.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :giveaway_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :giveaway_description %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :giveaway_status %>
  </div>

  <div class="field">
    <%= form.label :begin_giveaway %>
    <%= form.datetime_select :begin_giveaway, id: :giveaway_begin_giveaway %>
  </div>

  <div class="field">
    <%= form.label :end_giveaway %>
    <%= form.datetime_select :end_giveaway, id: :giveaway_end_giveaway %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
