

<div class="header-banner">
  <div class="headertyper">

    <div id="app" class="animated bounceInRight"></div>
  </div>
 </div>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Begin giveaway</th>
      <th>End giveaway</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @giveaways.each do |giveaway| %>
    <div class="movie_card animated bounceInRight" id="bright">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" src="https://movieplayer.net-cdn.it/t/images/2017/12/20/bright_jpg_191x283_crop_q85.jpg"/>
      <h1><%= giveaway.title %></h1>
<% if (giveaway.begin_giveaway - Time.now) > 0 %>
      <h4>begin time:<%= giveaway.begin_giveaway %></h4>
      <% else %>
      <h4>end time: <%= giveaway.end_giveaway %><h4>
      <%end%>S
      <span class="minutes">117 min</span>
      <p class="type">Action, Crime, Fantasy</p>
    </div>
    <div class="movie_desc">
      <p class="text">
       <%= giveaway.description %>
      </p>
    </div>
    <div class="movie_social">
      <ul>
        <li><i class="material-icons">share</i></li>
        <li><i class="material-icons"></i></li>
        <li><i class="material-icons">chat_bubble</i></li>
      </ul>
    </div>
  </div>
  <div class="blur_back bright_back"></div>
</div>
      <tr>
        <td><%= giveaway.title %></td>
        <td><%= giveaway.description %></td>
        <td><%= giveaway.status %></td>
        <td><%= giveaway.begin_giveaway %></td>
        <td><%= giveaway.end_giveaway %></td>
        <td><%= link_to 'Show', giveaway, class: 'button' %></td>
        <td><%= link_to 'Edit', edit_giveaway_path(giveaway), class: 'button' %></td>
        <td><%= link_to 'Destroy', giveaway, method: :delete, data: { confirm: 'Are you sure?' }, class: 'hollow button'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Giveaway', new_giveaway_path, :class =>
'hollow button' %>


<script>
  var app = document.getElementById('app');

  var typewriter = new Typewriter(app, {
      loop: true
  });

  typewriter.typeString('Win amazing')
      .pauseFor(500)
      .deleteChars(7)
      .typeString('insane prices!')
      .pauseFor(2500)
      .deleteAll()
      .pauseFor(400)
      .typeString('Earn tickets to win!')
      .pauseFor(2500)
      .deleteAll()
      .pauseFor(400)
      .typeString('The best products for free!')
      .pauseFor(2500)
      .start();
</script>
